
{% load static %}



<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontawesome-free-6.6.0-web/css/all.css' %}">
   <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <title>Document</title>
</head>
<body>




<div class="conexion   shadow p-3 mb-5 bg-body-tertiary" >

  

<form action="" method="post" autocomplete="off">
{% csrf_token%}
<div class="head"><h1><img src="/static/images/1000061806-removebg-preview.png" alt="" width="150" height="150"></h1>
 

 <p style="margin-top: -6vh; font-weight: bold;">Bienvenue sur info blog connecter vous à votre compte</p>

</div>


              <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Nom d'utilisateur</label>
  <input type="text" class="form-control" id="champs" placeholder="Entrer votre nom d'utilisateur " name="nom" required>

<div style="height: 1.0vh;"><div class="invalid-feedback" id="msg">   <i class="fa-solid fa-triangle-exclamation"></i>  champ nom d'utilisateur obligatoire</div></div>
</div>

<style>

  #msg{

   display: none;
  }
</style>

              <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Mot de passe</label>
  <input type="text" class="form-control" id="champs" placeholder="Entrer votre mot de passe" name="mdp" required>
<div style="height: 1.0vh;">  <div  id="msg" class="invalid-feedback">    <i class="fa-solid fa-triangle-exclamation"></i>  champ mot de passe obligatoire</div></div>

</div>

<center>   <div class="mb-3">   <button type="submit" class="bt">Connexion</button>  </div> </center>
</form>

<div class="info"><small>veuillez vous <a href="{% url 'inscription' %}">inscrire</a> si vous n'avez pas de compte</small></div>
</div>



<!-- Modal de succès -->
<div class="modal fade" id="successModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="successModalLabel">    ⚠️ Informations incorrects</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
  Veuillez entrez de bonnes informations
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>





<script>
const element= document.querySelectorAll('[id="champs"]')
const msg= document.querySelectorAll('[id="msg"]')

element[0].addEventListener('input',function(){

const elementvalue1=element[0].value.trim()
if(elementvalue1 === ""){
  element[0].style.border="1px solid red"
  msg[0].style.display='block'
}else{
    element[0].style.border="1px solid green"
      msg[0].style.display='none'
}


})

element[1].addEventListener('input',function(){

const elementvalue2=element[1].value.trim()
if(elementvalue2 === ""){
  element[1].style.border="1px solid red"
  msg[1].style.display='block'
}else{
    element[1].style.border="1px solid green"
      msg[1].style.display='none'
}


})


  const msge1 = {{ message1|yesno:'true,false' }};
  const msge2 = {{ message2|yesno:'true,false' }};

  if (msge1) {
      document.addEventListener('DOMContentLoaded', function () {
          var m = new bootstrap.Modal(document.getElementById('successModal'));
          m.show();
      });
  }

  if (msge2) {
      document.addEventListener('DOMContentLoaded', function () {
          var m = new bootstrap.Modal(document.getElementById('successModal'));
          m.show();
      });
  }



</script>


