  
  
  
  


  
  
  
  
  
  
  <style>
 body{
        background-color :#fffbfb;;
}

    .sidebar { 
      height: 100vh; position: fixed; top: 0; left: 0; width: 220px; background-color: aliceblue; padding-top: 2rem; }
    i {
       color: rgb(15, 129, 229) }
    .sidebar a,h1 {
       font-size: 1.2rem; color: black; text-decoration: none; display: block; padding: 10px 20px; margin-bottom: 30px; border-radius: 5px; }
    h4 {
       color: black; padding-left: 20px; }
    .sidebar a:hover { 
      background-color: #96acc3; color: white; }

    .search-bar {
       max-width: 400px; }
    .card {
       background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 0.5rem; box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); }
    
   
  </style>




  <!-- Sidebar -->
<div class="sidebar">
 <h1>{{user.nom_prenom}}</h1>

  <a href="{% url 'menus'%}"><i class="fas fa-home"></i> Accueil</a>
  <a href=" {% url 'menus'%}"><i class="fas fa-box-open"></i> Mes articles</a>

  <a href="{% url 'publier'%}"><i class="fas fa-edit"></i> Publier un article</a>
  <a href="{% url 'menus'%}"><i class="fas fa-clipboard-list"></i> Historiques</a>
  <a href="{% url 'menus'%}"><i class="fas fa-cogs"></i> Paramètres</a>
  <a href="{% url 'menus'%}"><i class="fa-solid fa-right-from-bracket"></i> Déconecter</a>
</div>
